<ng-container *ngIf="recommendation$ | async as rec">
    <mat-card class="adapt-card">
      <mat-card-header>
        <mat-card-title>Score: {{ rec.score }} / 100</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Here are some of keywords which will improve your resume if relevant:</h3>
        <mat-chip-listbox>
          <mat-chip-option color="warn" variant="outlined" *ngFor="let kw of rec.missingKeywords">{{ kw }}</mat-chip-option>
        </mat-chip-listbox>
      </mat-card-content>
    </mat-card>
  </ng-container>